//Bootstrap
$primary: #630A10;
$secondary: #911F27;
$light: #F2F2F2;
$success: #FACE7F;

@import '~bootstrap/scss/bootstrap.scss';

// Variables
/*Mobile*/
:root{
  
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

body{
  font-family: "montserrat";
  
}

//Pane
.v-pane{
  height: 100%;
}

.h-pane{
  width: 100%;
}

.pane{
  @extend .v-pane;
  @extend .h-pane;
}

@each $colorname, $color in $theme-colors {
  .pane-#{$colorname} {
    @extend .pane;
    background-color: $color;
  }
}

//Page
.page{
  width: 100vw;
  height: 100vh;
}

@each $colorname, $color in $theme-colors {
  .page-#{$colorname} {
    @extend .page;
    background-color: $color;
  }
}

//Div
.div-50{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  height: 100%;
  padding: 1rem;
}

.container-table{
  display: table;
  height: 100%;
  width: 100%;
}

.bg-logo{
  background-image: url("./assets/images/background-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//Orientation
@media only screen and (orientation:landscape) {
  .hide-on-landscape {
    display: none;
  }

  .hide-on-landscape *{
    display: none;
  }
}

@media only screen and (orientation:portrait) {
  .hide-on-portrait {
    display: none;
  }

  .hide-on-portrait *{
    display: none;
  }
}