//Bootstrap
$primary: #630A10;
$secondary: #911F27;
$light: #F2F2F2;
$success: #FACE7F;

@import '~bootstrap/scss/bootstrap.scss';

// Variables
:root{

}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "pacifico";
  src: url("./assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

body{
  background-color: $light;
  font-family: "montserrat";
}

//Text
.text-logo{
  font-family: "pacifico";
  color: $light;
  text-shadow: 2px 0 0 $primary, -2px 0 0 $primary, 0 2px 0 $primary, 0 -2px 0 $primary, 1px 1px $primary, -1px -1px 0 $primary, 1px -1px 0 $primary, -1px 1px 0 $primary;
  padding: 2%;
}

//Pane
.v-pane{
  height: 100%;
}

.h-pane{
  width: 100%;
}

.pane{
  @extend .v-pane;
  @extend .h-pane;
}

@each $colorname, $color in $theme-colors {
  .pane-#{$colorname} {
    @extend .pane;
    background-color: $color;
  }
}

//Page
.page{
  width: 100vw;
  height: 100vh;
}

@each $colorname, $color in $theme-colors {
  .page-#{$colorname} {
    @extend .page;
    background-color: $color;
  }
}

//Div
.div-50{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  height: 100%;
  padding: 1rem;
}

.container-table{
  display: table;
  height: 100%;
  width: 100%;
}

//Images
$images: (
  "logo":url("./assets/images/background-logo.png"),
  "1":url("./assets/images/img_1.jpg"),
  "2":url("./assets/images/img_2.jpg"),
  "3":url("./assets/images/img_3.jpg"),
);

@each $image_name, $image_url in $images {
  .bgimg-#{$image_name} {
    background-image: $image_url;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.logo{
  max-height: 100%;
  max-width: 100%;
}

//Orientation
@media only screen and (orientation:portrait) {
  //Hide
  .hide-on-portrait {
    display: none;
  }

  .hide-on-portrait *{
    display: none;
  }
}

@media only screen and (orientation:landscape) {
  //Hide
  .hide-on-landscape {
    display: none;
  }

  .hide-on-landscape *{
    display: none;
  }
}